name: Laravel Tests

on:
  pull_request:

jobs:
  leia-tests:
    runs-on: ${{ matrix.os }}
    env:
      TERM: xterm
    strategy:
      matrix:
        leia-tests:
          - examples/7.1
          - examples/7.2
          - examples/7.4
          - examples/8.1
        lando-versions:
          - edge
        os:
          - ubuntu-22.04
        node-version:
          - '16'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org
          cache: yarn
      - name: Install Yarn dependencies
        run: yarn install --prefer-offline --frozen-lockfile

      # This block should eventually become use lando/actions-hyperdrive@v2
      - name: Verify Docker dependencies
        run: |
          docker --version | grep "20.10."
          docker-compose --version | grep "1.29."
      - name: Move in lando config appropriate for testing
        run: |
          mkdir -p ~/.lando/cache
          cp -f actions-lando-config.yml ~/.lando/config.yml
          echo false > ~/.lando/cache/report_errors
          # This part here is cloning a second repository
      - name: Checkout Lando CLI from  GitHub
        uses: actions/checkout@v2
        with:
          repository: lando/cli
          path: cli
          ref: main
      - name: Install Lando from GitHub Source
        run: |
          cd cli
          yarn install --prefer-offline --frozen-lockfile
          yarn build:cli
          sudo mv ./dist/@lando/cli /usr/local/bin/lando
          sudo chmod +x /usr/local/bin/lando
      - name: Verify Lando works and we are dogfooding this plugin for tests
        run: |
          lando --clear
          lando version
          lando config --path plugins | grep laravel | grep /home/runner/work/laravel/laravel || echo "::error:: Not dogfooding this plugin correctly! "

      # This block should eventually become use lando/actions-leia@v2
      # @NOTE? Do we want a way for our leia-action to configure apparmor since
      # this might break a whole bunch of tests? or is this literally just a thing
      # for the Lagoon mysql/mariadb container?
      - name: Configure apparmor
        run: |
          set -x
          sudo apt-get remove mysql-server --purge
          sudo apt-get install apparmor-profiles
          sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.mysqld
      - name: Run leia tests
        shell: bash
        run: yarn leia "./${{ matrix.leia-tests }}/README.md" -c 'Destroy tests' --stdin --shell bash
