name: Run Unit Tests

on:
  pull_request:

jobs:
  unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2022
          - ubuntu-24.04
          - macos-15
        node-version:
          - '20'
    steps:
      # Install deps and cache
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - name: Install NPM dependencies
        run: npm clean-install --prefer-offline --frozen-lockfile

      # Run unit tests
      - name: Run unit tests
        run: npm run test:unit
